html
    head 
        title World of cars 

    body 
        form(action="http://localhost:3000/api/v1/cars" method="POST")
            label(for="id") ID:
            input(type="text" name="id")

            label(for="name") Name:
            input(type="text" name="name")

            label(for="price") Price:
            input(type="number" name="price")

            button(type="submit") Submit

